.navbar {
    padding: 20px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #0A0F22;
    font-weight: bold;
    font-size: 18px;
}

.navbar-rigth {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar-rigth .searchicon {
    width: 25px;
}

.navbar-rigth .bag {
    width: 25px;
}

.navbar button {
    background-color: transparent;
    font-size: 16px;
    color: #0A0F22;
    border: 2px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover {
    background-color: burlywood;
}

.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid black;
}

.navbar li {
    cursor: pointer;
}

.navbar h2 {
    color: #0A0F22;
    font-weight: bolder;
    font-size: 5vh;
}

.navbar-profile {
    position: relative;
}

.nav-profile-dropdown {
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}

.navbar-profile:hover .nav-profile-dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff2ef;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid black;
    outline: 2px solid white;
    list-style: none;
}

.nav-profile-dropdown li {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.nav-profile-dropdown img {
    width: 20px;
}

.nav-profile-dropdown li:hover {
    color: gray;
}

@media (max-width:1050px) {
    .navbar .logo {
        width: 120px;
    }

    .navbar-menu {
        gap: 20px;
        font-size: 17px;
    }

    .navbar-rigth {
        gap: 30px;
    }

    .navbar-rigth img {
        width: 22px;
    }

    .navbar-rigth button {
        padding: 8px 25px;
    }
}

@media (max-width:900px) {
    .navbar .logo {
        width: 120px;
    }

    .navbar-menu {
        gap: 15px;
        font-size: 16px;
    }

    .navbar-rigth {
        gap: 20px;
    }

    .navbar-rigth img {
        width: 20px;
    }

    .navbar-rigth button {
        padding: 7px 20px;
        font-size: 15px;
    }
}

@media (max-width:750px) {
    .navbar-menu {
        display: none;
    }
}